<%- include('../partials/head-html.ejs') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav.ejs') %>

<main>
    <h1><%= title %></h1>
    <section>
      <div>Airline: </div>
      <div>
        <%= flight.airline %>
        <a href="/flights/<%= flight._id %>/edit">
          <button>Edit Flight</button>
        </a>
      </div>
      <div>Airport: </div>
      <div><%= flight.airport %></div>
      <div>Flight #: </div>
      <div><%= flight.flightNo %></div>
      <div>departs: </div>
      <div><%= flight.departs %></div>
      <div>Meals:</div>
    </section>
    <ul>
      <% flight.meals.forEach(meal => { %>
        <li><%= meal.name %></li>
      <% }) %>
    </ul>
      <form id="add-meal-to-flight" action="/flights/<%= flight._id %>/meals" method="POST">
        <select name="mealId">
          <% meals.forEach(meal => { %>
            <option value="<%= meal._id %>"><%= meal.name %></option>
          <% }) %>
        </select>
        <button type="submit">Add to Meals</button>
      </form>

    <h2>Tickets</h2>
<form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
    >
    <label for="seat">Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?" placeholder="[A-F][1-99]">
    <label for="price">Price:</label>
    <input type="string" name="price" id="price"
    min="0" required>
    </select>
    <button type="submit">Add Ticket</button>
</form>
<% if (flight.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Yet</h3>
  <% } %>
  

<%- include('../partials/footer.ejs') %>